USE [master]
GO
/****** Object:  Database [COVID_19_NDS]    Script Date: 12/28/2022 11:43:06 AM ******/
CREATE DATABASE [COVID_19_NDS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'COVID_19_NDS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\COVID_19_NDS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'COVID_19_NDS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\COVID_19_NDS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [COVID_19_NDS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [COVID_19_NDS]
GO
/****** Object:  Table [dbo].[Ongoing_break_PHU]    Script Date: 12/28/2022 11:43:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ongoing_break_PHU](
	[Breaks_SK] [int] IDENTITY(1,1) NOT NULL,
	[PHU_SK] [int] NULL,
	[Out_break_group] [varchar](50) NULL,
	[Ongoing_break_Date] [datetime] NULL,
	[Number_ongoing_outbreaks] [int] NULL,
	[Breaks_ID] [int] NULL,
	[SOR] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Ongoing_break_PHU] PRIMARY KEY CLUSTERED 
(
	[Breaks_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHU]    Script Date: 12/28/2022 11:43:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHU](
	[PHU_SK] [int] IDENTITY(1,1) NOT NULL,
	[Reporting_PHU] [nvarchar](255) NULL,
	[Reporting_PHU_Address] [nvarchar](255) NULL,
	[Reporting_PHU_City] [nvarchar](255) NULL,
	[Reporting_PHU_Postal_Code] [nchar](10) NULL,
	[Reporting_PHU_Website] [nvarchar](255) NULL,
	[Reporting_PHU_Latitude] [float] NULL,
	[Reporting_PHU_Longitude] [float] NULL,
	[PHU_ID] [int] NULL,
	[SOR] [int] NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
	[Status] [int] NULL,
	[PHU_GROUP] [nvarchar](255) NULL,
 CONSTRAINT [PK_PHU] PRIMARY KEY CLUSTERED 
(
	[PHU_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reported_Case]    Script Date: 12/28/2022 11:43:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reported_Case](
	[Object_SK] [int] IDENTITY(1,1) NOT NULL,
	[Age] [varchar](50) NULL,
	[Gender] [varchar](4) NULL,
	[AccurateEpisode_Dt] [datetime] NULL,
	[OutbreakRelated] [char](10) NULL,
	[Exposure] [varchar](50) NULL,
	[SpecimenDate] [datetime] NULL,
	[CaseReported_Date] [datetime] NULL,
	[Test_Reported_Date] [datetime] NULL,
	[Case_Status] [varchar](50) NULL,
	[PHU_SK] [int] NULL,
	[Object_ID] [int] NULL,
	[SOR] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[Status] [int] NULL,
	[Outcome] [varchar](50) NULL,
 CONSTRAINT [PK_Case] PRIMARY KEY CLUSTERED 
(
	[Object_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vaccines_by_age_PHU]    Script Date: 12/28/2022 11:43:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vaccines_by_age_PHU](
	[Vaccination_SK] [int] IDENTITY(1,1) NOT NULL,
	[Age_group] [varchar](50) NULL,
	[PHU_SK] [int] NULL,
	[Vaccination_Date] [datetime] NULL,
	[First_Dose] [int] NULL,
	[Second_Dose] [int] NULL,
	[Third_dose] [int] NULL,
	[Fully_Vaccinated] [int] NULL,
	[Vaccines_ID] [int] NULL,
	[SOR] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_Vaccines_by_age_PHU] PRIMARY KEY CLUSTERED 
(
	[Vaccination_SK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ongoing_break_PHU]  WITH CHECK ADD  CONSTRAINT [FK_Ongoing_break_PHU] FOREIGN KEY([PHU_SK])
REFERENCES [dbo].[PHU] ([PHU_SK])
GO
ALTER TABLE [dbo].[Ongoing_break_PHU] CHECK CONSTRAINT [FK_Ongoing_break_PHU]
GO
ALTER TABLE [dbo].[Reported_Case]  WITH CHECK ADD  CONSTRAINT [FK_Case] FOREIGN KEY([PHU_SK])
REFERENCES [dbo].[PHU] ([PHU_SK])
GO
ALTER TABLE [dbo].[Reported_Case] CHECK CONSTRAINT [FK_Case]
GO
ALTER TABLE [dbo].[Vaccines_by_age_PHU]  WITH CHECK ADD  CONSTRAINT [FK_Vaccines_by_age_PHU] FOREIGN KEY([PHU_SK])
REFERENCES [dbo].[PHU] ([PHU_SK])
GO
ALTER TABLE [dbo].[Vaccines_by_age_PHU] CHECK CONSTRAINT [FK_Vaccines_by_age_PHU]
GO
USE [master]
GO
